<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light"><div>Total Products: <%= @products_inventory.count %></div></div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light"><div>Total Categories: <%= @categories_inventory.count %></div></div>
    </div>
  </div>
</div>

</section>
